# ===== Robot Framework =====
*.pyc
__pycache__/
.venv/
venv/
*.egg-info/

# Resultados de execução do Robot Framework
ui-tests/results/
ui-tests/**/log.html
ui-tests/**/report.html
ui-tests/**/output.xml
ui-tests/**/*.png
ui-tests/**/selenium-screenshot-*.png
ui-tests/Tests/logs/
ui-tests/Tests/*.txt
# ===== Postman / Newman =====
api-tests/reports/
newman/
*.newman-report.html
*.newman-report.json

# Environments com dados sensíveis (se não quiser versionar credenciais)
# api-tests/environments/*local*.json

# ===== Node (Newman) =====
node_modules/

# ===== Sistema =====
.DS_Store
Thumbs.db
*.log

# ===== Editor =====
.vscode/
.idea/
*.swp
